.SignComponents {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      justify-items: center;
      margin-bottom: 50px;
      margin-top: 50px;

}



@media screen and (max-width:660px) {
      .SignComponents {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            justify-items: center;
            margin-top: 25px;
      }
}