.profile {
    width: 80%;
    margin: 1rem auto;
    padding-top: 5rem;
  }
  .profile h1 {
    font-family: "Times New Roman", Times, serif !important;
    font-size: 5rem;
    color: #a7232c;
  }
  .profile p {
    font-family: "Times New Roman", Times, serif !important;
    font-size: 1.5rem;
  }