body {
  background-color: whitesmoke;
}
.registerMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  margin-top: 8.5em;
}

.heading {
  text-align: center;
  margin-bottom: 1em;
  color: #4c4d5f;
  font-size: 3.5rem;
  font-family: "Times New Roman", Times, serif;
}

.CustomStyle1 input {
  width: 100%;
  padding: 10px 0 10px 5px;
  font-size: 1.1rem;
  border: 0;
  margin-bottom: 3px;
  outline: none;
}

.errMsg {
  color: red;
  margin-top: 10px auto;
  display: block;
  text-align: center;
  display: none;
}

#customAlert {
  color: #0f5132 !important;
  max-width: 72%;
  padding: 10px 5px;
  display: none;
  margin: 0 auto;
  font-weight: 500;
}

.alreadyMsg {
  font-size: 1.2rem;
  margin: 5px auto;
}

/* Login Component */

.loginMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  margin-top: 8.5em;
}

.CustomStyle input {
  width: 350px;
  padding: 10px 0 10px 10px;
  font-size: 1.3rem;
  border-radius: 10px;
  border: 1.5px solid #636363;
  outline: none;
  margin-bottom: 7px;
  background-color: transparent;
  color: black;
}

.CustomStyle input::placeholder {
  color: black;
}

.customCountry select {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.1rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #555;
  margin: 0;
  overflow: hidden;
  padding: 5px 0 5px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pswUsr {
  color: red;
  font-size: 1.11rem;
  margin: 5px 0;
}

.css-button-rounded--red {
  min-width: 180px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: block;
  font-size: 1.3rem;
  margin: 30px auto 0 auto;
  outline: none;
  border-radius: 25px;
  border: 2px solid #4c4d5f;
  background: #4c4d5f;
}
.css-button-rounded--red:hover {
  background: #fff;
  color: #4c4d5f;
}

.showPassword {
  margin: 5px 0 0 0;
  font-size: 1.2rem;
}

.showPassword label {
  font-weight: bold;
  margin: 0;
}

.Container11 {
  background: #f3f3f3ad;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  padding: 35px 100px;
}
