@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

.featured-products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
}

.featured-products-title {
  text-align: center;
  font-size: 4rem;
  margin: 6rem 0 3rem 0;
  font-family: "Times New Roman", Times, serif;
  color: #a7232c;
}
.line{
  width: 10% !important;
  margin: 1rem auto 3rem auto;
  border: 1px solid gray !important;
  text-align: center;
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.go-to-shop-from-home{
  background-color: #a7232c;
  border: none;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 1rem 10px;
  margin-top: 20px;
  width: 90px;
  display: inline;
}
.go-to-shop-from-home:hover {
  background-color: #581217;
}
.go-to-shop-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 850px) {
  .featured-products-container {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }
}
