@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

.featured-products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    margin: 0 auto;
}
.featured-products-title{
    text-align: center;
    font-size: 5rem;
    margin: 2rem 0;
    font-family: 'Oswald', sans-serif;
}

@media only screen and (max-width: 850px){
    .featured-products-container{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
}