.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header{
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: white;
}
.navLogo {
  font-size: 4.68rem;
  list-style-type: none;
}
.navCenter{
  margin-left: 10rem;
}
.topList{
  display: flex;
  list-style: none;
  margin-top: 1.5rem;
  margin-right: 10rem;
}
.header .nav ul li {
  color: black;
}
.header .nav a {
  color: black;
  text-decoration: none;
  padding: 0.3rem 0.9rem;
  font-size: 1.5rem;
}
.header .nav a:hover {
  color: #b9222c !important;
  transition: 0.3s;
}

.header .nav a.active {
  transition: 0.3s;
  padding: 0.3rem 0.9rem;
  color: #b9222c !important;
}

.header .burgerMenu {
  display: none;
  color: black;
  font-size: 2.2rem;
  margin-right: 0.3rem;
  cursor: pointer;
}
.header .shoppingCart {
  display: flex;
  width: 45px;
  height: 45px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: 1.2rem;
    right: 1.5rem;
}
.topIcon {
  font-size: 1.5rem;
  margin-right: 0.625rem;
  color: #444;
  cursor: pointer;
}
.shopping-icon{
  width: 26px;
    height: 26px;
}
.item-count {
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  bottom: 9px;
}
.sign-out{
  display: flex;
  text-align: center;
}

@media screen and (max-width: 790px) {
  .header {
    position: relative;
  }

  .navCenter{
    margin-left: 2rem;
  }
  .header .burgerMenu {
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 0.9rem;
  }
  .nav {
    flex-direction: column;
    align-items: stretch;
  }
  .topList {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }
  /*  .header .nav ul .active {
    display: block;
  } */
  .nav ul li {
    margin: 0.9rem 0;
  }
  .header .shoppingCart {
    position: absolute;
    top: 1.2rem;
    right: 3rem;
  }
  .activeBurger{
    display: flex;
  }
  .sign-out{
    flex-direction: column;
  }
}
